H1{
color:white;

text-align:center;

}


body{
    background-image: url("http://www.weboutils.com/backgrounds/marron/page1/af.jpg");

}


a
{
color:red;

font-size:20px;

}


h2
{

color:white;

font-size:14px;
}


H3{
color:white;

text-align:center;

}

